<div class="navbar">
    <div class="page_name">
        <h2>Mirella</h2>
    </div>
    <div class="menu">
        <div class="options">
            <ul>
                <li>
                    <a [routerLink]="['/home']">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/my-shopping']">Mis compras</a>
                </li>
            </ul>
        </div>
        <div class="div_car">
            <img (click)="redirectToShoppingCart()" src="../../assets/images/car.png" alt="Carrito de compra">
        </div>
    </div>
</div>